$font-subtitle-text: 'KaushanScript', cursive;
$font-title-text: 'Montserrat', sans-serif;
$font-text: 'Roboto', sans-serif;

$font-size-text: 14px;

// colors
$header-color: #fff;
$section-title-color: #333333;
$text-color:  #999999;
$section-title-text-color: #5a5a5a;
$after-color:#f38181;
$background-card-color:#95e1d3;
$icon-background-color: #fce38a;
$icon-hover-color: #f38181;