@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.ttf) format('ttf');  
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Montserrat-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf) format('ttf'); 
}

 @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Roboto-LightItalic.ttf) format('ttf');
 }

 @font-face {
    font-family: 'KaushanScript';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KaushanScript-Regular.ttf) format('ttf');
 }

 /* common values */
 .section__subtitle{
    font-size: 24px;
    font-family: 'KaushanScript', cursive;
    margin: 42px 0px 22px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.section__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

}

.section__text{
    color: #999999;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.section__title-text{
    color: #5a5a5a;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.section__text--italic{
    font-style: italic;
    font-weight: 300;
}

.section__title:after{
    display: block;
    content: '';
    width: 60px;
    border-bottom: 3px solid #f38181 ;
    margin: 42px auto 0;
}

.section_text--align{
    text-align: left;
}

.section__title-text--align{
    text-align: left;
}

.section__text--ident{
    margin: 46px 0 90px;
}

.navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0 113px 0;
}

.logo{
    width: 86px;
    height: 23px;
}
.menu{
    list-style:none;
    width: 496px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

.menu__item{
    text-transform: uppercase;
    font-size: 14px;
}

.menu__link{
  text-decoration: none;  
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.menu__link--hover:hover{
    -webkit-transition-property: color,border;
    -o-transition-property: color,border;
    transition-property: color,border;
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.header{
    text-align: center;
    min-height: 1191px;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243,129,129,0.8)), to(rgba(252,227,138,0.8))), url('../img/Layer15@1X.png');
    background-image: -webkit-linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@1X.png');
    background-image: -o-linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@1X.png');
    background-image: linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@1X.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
      background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243,129,129,0.8)), to(rgba(252,227,138,0.8))), url('../img/Layer15@2X.png');
      background-image: -webkit-linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@2X.png');
      background-image: -o-linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@2X.png');
      background-image: linear-gradient( rgba(243,129,129,0.8)0%, rgba(252,227,138,0.8) 100%), url('../img/Layer15@2X.png');
      background-repeat: no-repeat;
  }
  }

.header__subtitle{
    font-family: 'KaushanScript', cursive;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 42px;
}

.header__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    width: 802px;
    margin: 0 auto;
    margin-bottom: 124px;
}

.header-button{
    border: 2px solid #ffffff;
    padding: 14px 32px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.header-icon{
    padding-top: 15px;  
}
  
.header-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 94px;
}
  
.menu__icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 690px;
}
  
/* ------ section services-------- */
.services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto 92px;
    width: 1200px;
}

.services__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 66px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
}

.services__item{
    width: 293px;
    padding-bottom: 99px; 
    position: relative;
}

.services__item:nth-child(n+4){
    padding-bottom: 0;
}

.section__title-text::before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-bottom: 10px; */
    position: absolute;
    -webkit-transform: translateX(-60px)translateY(-10px);
        -ms-transform: translateX(-60px)translateY(-10px);
            transform: translateX(-60px)translateY(-10px);

}
.services__icon-foto::before{
background-image: url(../img/alarm.svg);
}
.services__icon-design::before{
background-image: url(../img/line.svg);
}
.services__icon-creativ::before{
    background-image: url(../img/pc.svg);
    }
.services__icon-seo::before{
background-image: url(../img/book.svg);
}
.services__icon-css::before{
    background-image: url(../img/home.svg);
    }
.services__icon-digital::before{
        background-image: url(../img/square.svg);
}


/* section team */
.team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0px auto 82px;
    width: 1200px;  
}

.team__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.team__background{
    background-color: rgb(149, 225, 211);
    width: 380px;
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;   
}

.team__member {
    position: absolute;
    z-index: 2;
}
  
.team__overlay{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252,227,138,0)), to(rgba(243,129,129,0)));
    background-image: -webkit-linear-gradient(rgba(252,227,138,0) 0%, rgba(243,129,129,0) 100%);
    background-image: -o-linear-gradient(rgba(252,227,138,0) 0%, rgba(243,129,129,0) 100%);
    background-image: linear-gradient(rgba(252,227,138,0) 0%, rgba(243,129,129,0) 100%);
    width: 380px;
    height: 470px;
    z-index: 5;
}
.team__background:hover .team__overlay{
    -webkit-transition-property: background-image, -webkit-transform;
    transition-property: background-image, -webkit-transform;
    -o-transition-property: transform, background-image;
    transition-property: transform, background-image;
    transition-property: transform, background-image, -webkit-transform;
    -webkit-transform: translate(-9px, -9px);
        -ms-transform: translate(-9px, -9px);
            transform: translate(-9px, -9px);
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(252,227,138,0.8)), to(rgba(243,129,129,0.8)));
    background-image: -webkit-linear-gradient( rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    background-image: -o-linear-gradient( rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    background-image: linear-gradient( rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
   
}
.team__background:hover .team__member{
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translate(-9px, -9px);
        -ms-transform: translate(-9px, -9px);
            transform: translate(-9px, -9px);
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}


.team__icons{
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 226px; 
    position: absolute;
    top: 42%;
    right: 20%;
    z-index: 3;
}
.team__icon-link{
    width: 56px;
    height: 56px;
    background-color: #fce38a;
}
.team__icon-img{
fill: #f38181;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: absolute;
-webkit-transform: translateX(15px)translateY(15px);
    -ms-transform: translateX(15px)translateY(15px);
        transform: translateX(15px)translateY(15px);


}
.team__icon-link:hover .team__icon-img{
    fill: #ffffff;
}
.team__icon-link:hover{
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    background-color: #f38181;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

  
.team__overlay:hover .team__icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}
   
/* footer */
.footer{
    margin: 0 auto 12px;
}

.footer__content{
    margin: 0 auto;
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}

.footer::before{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: '';
    width: 1200px;
    border-bottom: 1px solid #999999;
    margin: 0 auto;  
} 

.footer__text{
    color: #5a5a5a;
    font-size: 14px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;  
}

.footer__text--color{
    color: #f59494;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px; 
}

.form-label{
    width: 230px;
    height: 60px;
    font-style: italic;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    padding: 0 0 0 13px;
}

.form-btn{
    padding: 6px 34px;
    background-color: #95e1d3;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.footer-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
}
